<div id="tennis-game"> <mat-card id="tennis-game-card"> <div class="tennis-game-card-contents" id="tennis-game-card-contents"> <mat-card-header><mat-card-title id="tennis-game-card-title">Tennis Game 2</mat-card-title><mat-card-subtitle id="tennis-game-card-subtitle">Score Calculator</mat-card-subtitle></mat-card-header><form [formGroup]="tennisGameForm" (ngSubmit)="onSubmit()"><mat-form-field id="player-one-score-form-field" class="form-thing">
          <mat-label id="player-one-score-label">Player 1 Score</mat-label>




  <input matInput id="player-one-score" min="0" max="100" type="number" formControlName="player1Score">
                                        <mat-error id="player-one-error-label">Please enter an integer score between 1 and 100</mat-error>

                        </mat-form-field>




        <mat-form-field id="player-two-score-form-field" class="form-thing"><mat-label id="player-two-score-label">Player 2 Score</mat-label><input matInput id="player-two-score" type="number" formControlName="player2Score" min="0" max="100">           <mat-error id="player-two-error-label">Please enter an integer score between 1 and 100</mat-error></mat-form-field>
  <button id="get-score-button" [disabled]="!tennisGameForm.valid" type="submit" mat-raised-button>
          Get Score
    </button>
      </form>
       </div>
        <mat-card-actions id="overall-score-section">
          <mat-label id="overall-score-label">Overall Score</mat-label>
           <mat-label id="overall-score" [textContent]="overallScore"></mat-label>
             </mat-card-actions>
               </mat-card>

























































































































































































































































































































</div>
