<h2>Tennis game 2</h2>
<form [formGroup]="tennisGameForm" (ngSubmit)="onSubmit()">
  <label for="player-one-score">Player 1 Score: </label>
  <input id="player-one-score" type="number" formControlName="player1Score">
  <br>
  <label for="player-two-score">Player 2 Score: </label>
  <input id="player-two-score" type="number" formControlName="player2Score">
  <br>
  <button id="get-score-button" type="submit">Get Score</button>
  <br>
  <label>Overall Score: </label>
  <label id="overall-score" [textContent]="overallScore"></label>
</form>

