<div id="zanzibar">
  <mat-card id="tennis-game-card" style="width: 300px; margin-left: 20px">
    <div class="div-beat-box" id="tennis-game-card-contents">
      <mat-card-header>
        <mat-card-title id="tennis-game-card-title">Tennis Game 1</mat-card-title>
        <mat-card-subtitle id="tennis-game-card-subtitle">Score Calculator</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="tennisGameForm" (ngSubmit)="onSubmit()"> <!-- FIXME support small device -->
        <mat-form-field id="player-one-score-form-field" style="margin-bottom: 1em; display: block">
          <mat-label id="player-one-score-label">Player 1 Score</mat-label>
          <input matInput id="player-one-score" type="number" min="0" max="100" formControlName="player1Score">
          <mat-error id="player-one-error-label">
            Please enter an integer score between 1 and 100
          </mat-error>
        </mat-form-field>
        <mat-form-field id="player-two-score-form-field" style="margin-bottom: 1em; display: block">
          <mat-label id="player-two-score-label">Player 2 Score</mat-label>
          <input matInput type="number" max="100" formControlName="player2Score" min="0" id="player-two-score" >
          <mat-error id="player-two-error-label">
            Please enter an integer score between 1 and 100
          </mat-error>
        </mat-form-field>
        <!--  TODO: <iframe> Gary said he wanted this later-->
        <button id="get-score-button" [disabled]="!tennisGameForm.valid" type="submit" mat-raised-button>
          Get Score
        </button>
      </form>
    </div>
    <mat-card-actions id="overall-score-section">
      <mat-label id="overall-score-label">Overall Score</mat-label>
      <mat-label id="overall-score" [textContent]="overallScore"></mat-label>
    </mat-card-actions>
  </mat-card>
</div>
