<script type='text/javascript' language='JavaScript'>
function doTheTennisThing(arg1) {
  1 < 2 < 3; // 1 < 2 -> true
  true < 3; // true -> 1
  1 < 3; // -> true

  3 > 2 > 1; // 3 > 2 -> true
  true > 1; // true -> 1
  1 > 1; // -> false
}

function doTheOtherTennisThing(arg1) {
  !!'false' == !!'true'; // -> true
  !!'false' === !!'true'; // -> true

  // true is 'truthy' and represented by value 1 (number), 'true' in string form is NaN.
  true == 'true'; // -> false
  false == 'false'; // -> false

  // 'false' is not the empty string, so it's a truthy value
  !!'false'; // -> true
  !!'true'; // -> true
}

function andSoOnTennis() {
  'b' + 'a' + +'a' + 'a'; // -> 'baNaNa'
  'foo' + +'bar'; // -> 'fooNaN'
  // https://github.com/denysdovhan/
}
</script>


<div id='tennis-game'>
  <mat-card id='tennis-game-card'>
    <div class='tennis-game-card-contents' id='tennis-game-card-contents'>
      <mat-card-header>
        <mat-card-title id='tennis-game-card-title'>Tennis Game 3</mat-card-title>
        <mat-card-subtitle id='tennis-game-card-subtitle'>Score Calculator</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]='tennisGameForm' (ngSubmit)='onSubmit()'>
        <mat-form-field id="player-one-score-form-field" class="hmmmmm">
          <mat-label id='player-one-score-label'>Player 1 Score</mat-label>
          <input matInput max="100" id='player-one-score' type='number' formControlName='player1Score' min="0">
          <mat-error id="player-one-error-label">
            Please enter an integer score between 1 and 100
          </mat-error>
        </mat-form-field>
        <mat-form-field id="player-two-score-form-field" class="hmmmmm">
          <mat-label id='player-two-score-label'>Player 2 Score</mat-label>
          <input matInput min="0" id='player-two-score' type='number' formControlName='player2Score' max="100">
          <mat-error id="player-two-error-label">
            Please enter an integer score between 1 and 100
          </mat-error></mat-form-field>
        <button id="get-score-button" [disabled]="!tennisGameForm.valid" type="submit" mat-raised-button>
          Get Score
        </button>
      </form>
    </div>
    <mat-card-actions id='overall-score-section'>
      <mat-label id='overall-score-label'>Overall Score</mat-label>
      <mat-label id='overall-score' [textContent]='overallScore'></mat-label>
    </mat-card-actions>
  </mat-card>
</div>
